[submodule "skynetgo"]
	path = skynetgo
	url = https://github.com/Gowa2017/goskynet.git
[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/lua-protobuf"]
	path = 3rd/lua-protobuf
	url = https://github.com/starwing/lua-protobuf.git
[submodule "3rd/pbc"]
	path = 3rd/pbc
	url = https://github.com/cloudwu/pbc.git
[submodule "3rd/Penlight"]
	path = 3rd/Penlight
	url = https://github.com/lunarmodules/Penlight.git
[submodule "3rd/lua-zset"]
	path = 3rd/lua-zset
	url = https://github.com/xjdrew/lua-zset.git
[submodule "3rd/luafilesystem"]
	path = 3rd/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "3rd/tiny-ecs"]
	path = 3rd/tiny-ecs
	url = https://github.com/bakpakin/tiny-ecs.git
